.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 65%;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(124, 127, 127);
    margin-top: 0px;
  }
  
  .aboutBottom p {
    width: 1000px;
    color: rgb(0, 0, 0);
    font-size: 20px;

  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: rgb(255, 108, 4);
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
    font-family: serif;
  }